.custom-input {
    input:not(.browser-default) {
        border: 1px solid #dfdfdf;
        padding: 8px;
        box-sizing: border-box;
        height: 45px;
        border-radius: 2px;
        margin-bottom: 8px;
        font-size: 14px;
        line-height: 20px;
        color: #333;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active{
        -webkit-box-shadow: 0 0 0 30px white inset !important;
        transition: background-color 5000s ease-in-out 0s;
    }

    .input-field {
        margin-top: 10px;
    }
    label {
        margin-bottom: 0;
        display: block;
        margin-bottom: 5px;
        font-size: 15px;
        color: #333;
        text-align: left;
        display: block;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;;
    }
}